<style>
    p {text-align:justify;}
</style>

{% extends "appbuilder/base.html" %}

{% block content %}

<h2><center>{{_('Welcome')}} {{g.user.first_name}} to ACOs web <center></h2>

</br>

<font size=2>
<p>Asteroidal and cometary orbits were historicaly classified based on the Tisserand's parameter (Kresak, 1979).
A purely dynamic criterion to distinguish objects is that asteroids have T<SUB>Jup</SUB> > 3 while comets have
T<SUB>Jup</SUB> < 3 (were T<SUB>Jup</SUB> is the Tisserand parameter of the object with respect to Jupiter).</p>


<p>However, there is a problem with this method to classify objects, since there are some border cases: objects that
behave dynamically as comets but have not shown any type of activity, Asteroids in Cometary Orbits (ACOs), and
objects in asteroidal orbits that present evidence of gas and/or dust ejections, Active Asteroids (AAs).</p>

<p>Considering the number of asteroids discovered (approximately 850000 by October 2019), and that comets do not show
activity throughout their entire orbit and therefore the object should be monitored in different positions to be able
to affirm that it has no activity, <a href = "https://www.sciencedirect.com/science/article/abs/pii/S0019103514000992"
target="_blank">Tancredi (2014)</a> considered necessary to develop a more adequate orbital criterion
for the distinction between asteroids and comets, and to determine the border cases. The criterion is based on the
Tisserand parameter and the Minimum Orbital Intersection Distance (MOID), and also considers information on perihelic
and aphelic distances of the objects. A detail of the criterion can be found in the original work. </p>

<p> <b>This website offers an updated list of ACOs according to Tancredi's criterion: <a href="acos/list/"> ACOs list </a></b>.</p>

<p> <b>You can also download it in format </b><a href="api/download_csv">CSV</a></b></p>

<p>The list is currently updated on the first day of each month using the database of the Minor Planet Center
(<a href = "https://minorplanetcenter.net//iau/MPEph/MPEph.html" target="_blank">MPC</a>). </p>


</br>

<p>Symbols used:</p>
a = Semimajor axis in au. </br>
e = Eccentricity. </br>
i = Inclination in degrees. </br>
H = Absolute magnitude. </br>
G = Slope parameter. </br>
T = Tisserand Parameter with respect to Jupiter. </br>
MOID = Minimum orbital intersection distance. </br>
Type = ACOs type according to Tancredi's criterion. </br>
RA = Right Ascension. </br>
DEC = Declination. </br>
V = Visual apparent magnitude. </br>

</br>



<p>References:</p>
Kresak, L., 1979. <i>Dynamical Interrelations Among Comets and Asteroids</i>, pp. 289–309. </br>
Tancredi, G., 2014. <i>A criterion to classify asteroids and comets based on the orbital
parameters</i>. Icarus 234, 66–80.


</br></br>

<p>Contact:</p>
<p>This website has been developed in the <a href = "http://www.astronomia.edu.uy/depto/"  target="_blank">
Astronomy Department</a> of the <a href = "http://www.fisica.edu.uy/"  target="_blank">Institute of Physics</a>
of the <a href = "https://www.fcien.edu.uy/"  target="_blank">Facultad de Ciencias</a> in Montevideo, Uruguay.</br>
If you have any questions, comments or suggestions please contact us at smartino@fisica.edu.uy.</p>


</font>



{% endblock %}